*/.metadata
*/*/.*project

#codeblocks files
*/*/*.layout
*/*/*.depend
*/*/bin/clickToLaunch*
*/*/bin/libs
*/*/obj

#eclipse build folders
#Mac OS X
*/*/Debug Mac OS X
*/*/Release Mac OS X

#Linux
*/*/Debug Linux
*/*/Release Linux
*/*/Debug Linux64
*/*/Release Linux64

#Android
*/*/Debug Android
*/*/Release Android
*/*/Debug
*/*/Release
*/*/Release_arm7
*/*/test link
*/*/obj